/* --------------------------------------------- */
/* -----> FONT IMPORTS PER REFERENCE FILE <----- */
/* --------------------------------------------- */
@import url(https://fast.fonts.net/t/1.css?apiType=ad&projectid=21dfec3a-67e2-4918-9142-bfaf8a92f03f);
  @font-face{font-family:"Proxima N W01 Reg";
  src:url(https://apiadn.fonts.com/v2/fonts/subset?x=aEQPPHegxpcMofj1Jp1tYXKqiOi9p687nKTqLsOq73tJQoR0ctMtTzsiZt8wVkyywZljis6XqhTOA87xBh2gII4u354RCpSLWvyOsTpDWSwYqZebhMSWmmB1fRC4gv4mw%2bgNckgkXbWXsUdbthhC8DaHdyfU7SRnJWmmYlaPg8E%3d);
  src:url(https://apiadn.fonts.com/v2/fonts/subset?x=aEQPPHegxpcMofj1Jp1tYXKqiOi9p687nKTqLsOq73tJQoR0ctMtTzsiZt8wVkyywZljis6XqhTOA87xBh2gII4u354RCpSLWvyOsTpDWSwYqZebhMSWmmB1fRC4gv4mw%2bgNckgkXbWXsUdbthhC8DaHdyfU7SRnJWmmYlaPg8E%3d#iefix) format("eot"),url(https://apiadn.fonts.com/v2/fonts/subset?x=bnlTGL%2flyERMvMB5KGT1XBXveOQr4%2f%2bsI8BXrDMbjKe%2fF%2fL%2bj0ydN4duUIuaJlKXIIeTW0CRI%2fxdcolu2oF2vGuxRdnwi3evMn0sJDUojwrNdOaEOnIGgnsirqykyQ5WF7nSFsayiEBjIUQedsS%2ftSfTxGgByozSb5GNszYPHG8%3d) format("woff2"),url(https://apiadn.fonts.com/v2/fonts/subset?x=7lOozVx17sBSzsSHZRAsBC1QzJejLKkoqlkZJJA7s5wDJrO6eUaNgLBUCc3UDRmiWlHxWEy%2bHKcjWobUn06eTgU7LoeE7jT8pPX35hzyd2hUVGY3c%2fV7UCJBagiDRKvps9xb6oxPVgoBNrCrFuuDCGuYWsPDI0cUA7DsHslAy6o%3d) format("woff"),url(https://apiadn.fonts.com/v2/fonts/subset?x=YdU1Gas3Kn1GLOFex%2fIYiPq%2fAYSzutipKMkVmBE2Aiv46sUG8HgSPatrkyifHCf7eJaVv1qkqX6BQCC8Sq3HcRN2tMuoqzgXV%2bBJ4wTSScRK9XVKhCeDCO2TGwwWiHBWJmJxF7X0timAIhkGq8v%2bDQvO02r3FUEnxmQpNDF0w%2fQ%3d) format("truetype")}
  @font-face{font-family:"Proxima N W02 Bold";
  src:url(https://apiadn.fonts.com/v2/fonts/subset?x=3m9sZXQqzMRmVlycd6e8QzKwa6vl4y002J4aBR1aKDSyu2Ocz0RsIiawLUEx5xq56KII8cd2WTai5kabaKAkw7oG4uv9a6fJ1gv533XGp3H9kzQik0Je2ND%2fvD%2bZVkl6kETg4NsfrV4NHWrsLDP5hiiYHLMFm2k3GpQboFeQcmU%3d);
  src:url(https://apiadn.fonts.com/v2/fonts/subset?x=3m9sZXQqzMRmVlycd6e8QzKwa6vl4y002J4aBR1aKDSyu2Ocz0RsIiawLUEx5xq56KII8cd2WTai5kabaKAkw7oG4uv9a6fJ1gv533XGp3H9kzQik0Je2ND%2fvD%2bZVkl6kETg4NsfrV4NHWrsLDP5hiiYHLMFm2k3GpQboFeQcmU%3d#iefix) format("eot"),url(https://apiadn.fonts.com/v2/fonts/subset?x=1jA8a6kaT0NuM7%2bf3PrZlFxldvUathMnC%2f592lbImbxX%2bOOLy907FNTWTVYORp7aeZJX%2btakG%2f%2fq0iQx0DcUwTKZzUUBh4qngYv0%2fYfQFtZIqulpn%2bAo3nzeRj06oxR0Q%2fkhqK4Bf9x9V2Op18nDmDRhuvxT3Q1IZdk1FjfIpQk%3d) format("woff2"),url(https://apiadn.fonts.com/v2/fonts/subset?x=nzdUhcdHlj0pVBSBB89zTJ0%2fCPooMF5f5g8qZykOr91eS1u37i6ARGaTPm%2fj5Cq1AH6duCKKlhibgGZWaf3NzJ6jHFPFziUNo4fjXJqpJpRncwALwwvDbYPsJPEE9QGFigqBAmcOr8ev2E6jZZw7sIhuxg6xhyrf16kPX0b4jVY%3d) format("woff"),url(https://apiadn.fonts.com/v2/fonts/subset?x=KPD8T4ogq%2bRh4h2g11CLb%2b3Y%2fhJq8zFkyeIAzOe5sxmw1hm1gPgZXzeSGjeaBYPzKsAN4x9wHKYrI1EARYHn7zFO1EMrgMI%2fgV0BmmzJWxR2ILwhNs1lt%2b2Oyh1tFejS8rPCR5IjRxz8MOrmgtX3MV%2bK1RsAj0G3VrVZ2BEh9As%3d) format("truetype")}
  @font-face{font-family:"Proxima N W02 Smbd";
  src:url(https://apiadn.fonts.com/v2/fonts/subset?x=wt0z0ND%2fdjdWsmIUOO6vXq1qtPwCMYyUOGnyXvVBJ4eB%2f4iajAbNUvXJ13ifoOJCpMq28VCdpA1IcuurYjN5h9gemMTpvwhW8JlYNvNvdwyxpA1JJhvIgSEntpbeP9ydHsDLNL5lzqf5Wm3dURpTnx5ZFNVlS7%2bUCdOXz9WA84k%3d);
  src:url(https://apiadn.fonts.com/v2/fonts/subset?x=wt0z0ND%2fdjdWsmIUOO6vXq1qtPwCMYyUOGnyXvVBJ4eB%2f4iajAbNUvXJ13ifoOJCpMq28VCdpA1IcuurYjN5h9gemMTpvwhW8JlYNvNvdwyxpA1JJhvIgSEntpbeP9ydHsDLNL5lzqf5Wm3dURpTnx5ZFNVlS7%2bUCdOXz9WA84k%3d#iefix) format("eot"),url(https://apiadn.fonts.com/v2/fonts/subset?x=u0tNb2sdJWaRi%2b4hqjxTTzB%2f8nmJQt%2fEcqOKtiV67VzasOTDgXCQ28zU9bRO5OVdCaAk7C5I8f7deeHeQaJVF%2fiWMjvuE%2bKVdtojR4VDuYjlNLbN3In%2beBBhYbXSyKtrOmnyG6lk2KMvgTYJ24bq1WHVqYmVb7FoOeD7I1LfGrw%3d) format("woff2"),url(https://apiadn.fonts.com/v2/fonts/subset?x=cXybx6EtjJgxMPFEs3rQmqRA6uTaSI2YrmI6040oS2qN3%2b6%2fhJvSMeO9IdbyhhWh5%2btjwBBYmxHZJCBx4ssg5FYCsr4WWtTWolGFbA6L%2fEqNXJrOnLSidhERjEKmkDvjHlA1Tx87zuqlLhgpEradmeTJ6bY0TXQ6IdTxR3vu6p4%3d) format("woff"),url(https://apiadn.fonts.com/v2/fonts/subset?x=PJsSGUv6%2fUtao1%2bt4ykLCOIhXuvQSsoAfnsxkh0ro3loHePTLvUYqPRKrFAo4DvV9MfRfkMbBmM4UVJ%2fGv8BmGAVOLM8GaKUG%2fKGKiKx5NzZItP1NM9na%2bxyBpSQlZl9LZ75ZLApPwXorbxxMQk6GOW%2fp3qGn6Nee0Cbu1kyhDg%3d) format("truetype")}


.root {
 /* border-top: 2px solid rgba(147, 149, 151, 0.5);*/
  /*border-bottom: 2px solid rgba(147, 149, 151, 0.5);*/
  font-family: inherit;
}
.root.dark {
  border-color: rgba(108, 106, 104, 0.5);
}

/********************
 * QUESTION
 ********************/
.image {
  display: block;
  width: 100%;
  /*max-width: 400px;*/
  /*margin: 36px auto 0;*/
  float:left;
  height:220px;
  max-width:375px;
  margin-bottom: 19px;
}
.image img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.Logoimage{
  display: block;
    width: 70px;
    height: 25px;
    /* margin: 36px auto 0; */
    /* float: right; */
    position: absolute;
    /* margin-right: 354px; */
    margin-top: 35px;
    margin-left: 35px;
    width: 133px;
    height: 46px;
    object-fit: contain;
}

/*.Logoimage img {
  display: block;
  width: 100%;
  margin: 0 auto;
  height:55px;
  width:43px;
}*/

.question {
width: 332px;
  height: 41px;
  font-family: Proxima N W01 Reg;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #3d3d3d;
  color: var(--greyish-brown);
  margin-left:35px
  
}

/********************
 * ANSWERS
 ********************/
.answers {
  
   list-style-type: none;
    width: 100%;
    /* right: 0px; */
    /* margin-left: 500px; */
    /* float: right; */
    max-width: 280px;
    margin: auto;
    /* margin-right: 212px; */
    /* position: relative; */
    /* padding: 0px; */
    left: 0px;
    display: inline-block;
    padding-left: 34px;
    margin-top: 48px;
 
  
}

.answer {
  /*border: 2px solid #959595;*/
  margin: 5px auto 10px;
  background-position: calc(100% - 22px) center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, background-color 0.3s;
  width: 280px;
    height: 45px;
     /*opacity: 0.4; */
    border-radius: 9px;
    border: solid 1px #979797;
}
.answer:not(.isNotHoverable):focus, .answer:not(.isNotHoverable):hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.5);
}
.answer:not(.isNotHoverable):focus label, .answer:not(.isNotHoverable):hover label {
  color: rgba(0, 0, 0, 0.6);
}
.answer label {
    display: block;
    /*color: #3d3d3d;*/
    color: var(--greyish-brown);
    cursor: pointer;
    font-family: Proxima N W01 Reg;
    font-weight: 600;
    transition: color 0.3s;
    font-size: 18px;
    line-height: 28px;
    padding: 9px 56px 12px 22px;
    /*color: #3d3d3d;*/
    color: #3d3d3d;
    color: var(--greyish-brown);
}
.answer label.hidePointer {
  cursor: auto;
}
.answer input[type=radio] {
  display: none;
}

.dark .answer {
  border-color: #6a6a6a;
}
.dark .answer:not(.isNotHoverable):focus, .dark .answer:not(.isNotHoverable):hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.5);
}
.dark .answer:not(.isNotHoverable):focus label, .dark .answer:not(.isNotHoverable):hover label {
  color: rgba(255, 255, 255, 0.6);
}
.dark .answer label {
  color: #6a6a6a;
}

.answer.isCorrect {
  /*background-color: #00b46e;*/
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url%28%23clip-path%29;%7D.cls-3%7Bstroke:%23fff;stroke-linejoin:round;stroke-width:4px;%7D%3C/style%3E%3CclipPath id='clip-path'%3E%3Crect class='cls-1' x='0.62' y='3.47' width='22.76' height='17.06'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3EcheckboxButton%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='2.13 11.47 8.28 18.53 21.97 4.89'/%3E%3C/g%3E%3C/svg%3E");
  border-color: #00b46e;
  color: #00b46e;
  background-color: rgba(148, 220, 19, 0.24);
  border: solid 1px #8fdf00;
  color: #3d3d3d;
  color: var(--greyish-brown);
}
.answer.isCorrect label {
  color: #3d3d3d;
}
.answer.isWrong {
  /*background-color: transparent;*/
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url%28%23clip-path%29;%7D.cls-3%7Bstroke:%23f01432;stroke-linejoin:round;stroke-width:4px;%7D%3C/style%3E%3CclipPath id='clip-path'%3E%3Crect class='cls-1' x='3.17' y='3.17' width='17.67' height='17.67'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3EcloseButton-01%3C/title%3E%3Cg class='cls-2'%3E%3Cline class='cls-3' x1='4.58' y1='19.42' x2='19.42' y2='4.58'/%3E%3Cline class='cls-3' x1='19.42' y1='19.42' x2='4.58' y2='4.58'/%3E%3C/g%3E%3C/svg%3E");
  border-color: #f01432;
  color: #f01432;
  background-color: rgba(255, 9, 9, 0.17);
  border: solid 1px #ff0000;
}
.answer.isWrong label {
  color: #f01432;
}

/********************
 * ANSWER TRIVIA
 ********************/
.trivia {
  display: none;
  overflow: hidden;
  max-height: 0;
  padding: 0 41px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  font-family:Proxima N W01 Reg;
}
@keyframes triviaAnim {
  0% {
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    max-height: 300px;
    opacity: 1;
    padding-top: 22px;
    padding-bottom: 34px;
  }
}
.trivia.hasTransition {
  display: block;
  max-height: 0;
  animation: triviaAnim 0.0s ease-out forwards;
  /*animation-delay: 0.5s;*/
  opacity: 0;
}

.dark .trivia {
  color: rgba(255, 255, 255, 0.8);
}



.adContainer {
border: 2px solid lightgray;
height:667px;
width:100%;
background-color: white;
}


.mainContainer{
height: 100%;
width:100%;
margin:auto;
max-width:375px;
max-height:600px;
}

/* FOR MOBILE */
/*@media (max-width: 700px) {
  .adContainer {
    position: relative;
    width: 100%;
    max-width: 414px;
    height: 420px;
    margin: 0 auto;
  }*/

  /*#slideshow {
    position: absolute;
    /*overflow: hidden;*/
    /*left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}*/

/*for sliders */

.slick-prev {
 color:black!important;

}


.slick-next:before, .slick-prev:before {
color:black!important;

}

.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
opacity:none!important;

}


/*buttons */

.slick-prev:before {
  content: "<";
  color:black;
  font-size: 30px;

}

.slick-next:before {
  content: ">";
  color:black;
  font-size: 30px;
  
}


.slick-prev {
    left:72px;
    margin-top: 336px;
    z-index: 1;
    /*left:initial;   */
}
.slick-next {
    right: 53px;
    margin-top:337px;
    z-index:1;
    
}


/*for the 1 of 5 modifications*/

.pagingInfo {
    margin-right: 144px;
    float: right;
    position: relative;
    /* right: 0px; */
    margin-top: -49px;
    padding-top: -60px;
    /* z-index: 1; */
    /* margin-bottom: -50px; */
    font-family: Garamond;
}

.cta{
  position: absolute;
    right: 0px;
    bottom: 0px;
    margin-right: 329px;
    /*margin-left:329px;*/
    margin-bottom: 69px;
    color: var(--greyish-brown);
    cursor: pointer;
    font-family: Proxima N W01 Reg;
    font-weight: 600;
    transition: color 0.3s;
    font-size: 22px;
    padding: 12px 26px 12px 22px;
    /*border: 2px solid #959595;*/
    border-radius: 5px;
}

button{
outline: none;
border: 2px solid #959595;

}

button:hover{
  background-color: #F1F1F1;
}

.slick-dots{
bottom: -149px;
}


.image{
  object-fit: cover;
}

.cta {
  display:none;
}

/*Break points*/

/*for tablet*/

@media screen and (max-width: 1150px) {
     
    
  
    

    /*.image {
  width: calc(100% - 525px);
  }
*/

}


@media screen and (max-width: 900px) {
/*.question {
  color: purple
}*/


}


/*@media screen and (max-width: 700px){
  .mainContainer {
    display: none;
  }
}*/



/*@media (max-width: 1414px) and (min-width: 901px){
.image {
    width: calc(100% - 455px);
    max-width: 960px;
    }

}*/